.box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.box>p{
    font-weight: bold;
}

.box>h2{
    text-decoration: underline;
}

.container{
    border:1px solid red
}

.searchBox{
    padding:10px 20px;
    margin-right: 20px;
}

.loginBox{
    width: 370px;
    height:300px;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    padding-left: 50px;
    text-align: left;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginBox>h2{
    margin-left: 35%;
    text-decoration: underline;
}

.loginBox>input{
    margin-top: 20px;
    width: 200px;
    padding: 7px 10px;
    margin-left: 10px;
}

.pointer{
    cursor: pointer;
}

